html {
    font-family: sans-serif;
}


.nav-bar {
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 5px;
}

.lista {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.lista li {
    padding: 0 10px;
}

.bg {
    background-color: rgb(218, 218, 255);
    padding: 0 0 20px 0;
}

h1{
text-align: center;
padding: 100px 0 50px 0;
font-size: 60px ;
width: 75% ;
margin: 0 auto;
}

.testo {
   display: flex;
   flex-direction: column;
   gap: 25px;
   width: 40%;
   justify-content: space-between;
}

.arrow {
    font-size: 100px;
}


figure {
    display: inline-block;
}

.title {
    width: 60%;
    margin: 0 auto;
}

.container-title {
    display: flex;
}

.span1 {
    padding: 10px;
    background-color: rgb(94, 94, 254);
}

.hr-header {
    padding-top: 100px;
    color:rgb(218, 218, 255); 
}

.grand-container {
    width: 50%;
    margin: 0 auto;
    padding: 100px 0 0 0;
}

h2 {
    margin: 0 auto;
    font-size: 35px;
}

.radio-button {
    padding: 30px 0 0 0;
}

.card-section {
padding-top: 30px;
display: flex;
}

.card {
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    width: 30%;
    padding: 30px;
}

.interno {
    list-style-type: none;
    line-height: 200%;
}

.link {
    background-color:rgb(94, 94, 254) ;
    padding: 8px;
    color: white;
}

.t-larga {
    border: 1px solid black;
    width: 96%;
    margin: 0 auto;
    margin-top: 50px; 
}

.item {
    text-align: center;
}

.item1 {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 0 0 0 30px
}

.position-item {
    display: flex;
    padding: 20px;
}

.item2 {
    background-color:rgb(94, 94, 254) ;
    padding: 15px;
    color: white;
    margin: auto;
}

.container-mid {
    display: flex;
    margin: 0 auto;
    margin-top: 200px;
    gap: 40px;
    padding-bottom: 200px;
}

.ridimensiona {
   width:65% ;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35%;
    padding-top: 40px;
}

.baa {
    border: 1 px solid black;
    padding: 15px;
}

.layout-sistem {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 50px;
}

.layout {
display: flex;
flex-direction: column;
width:32% ;
gap: 20px;
}

.y {
    padding-top: 200px ;
}